
/* this is my stylesheet for project 3 claculator
started on : 4/26/21
last pdated: 4/30/21 */

h1 {
  font-family: Impact, 'Haettenschweiler', Arial Narrow Bold, sans-serif;
  font-size: xx-large; color:#FAB037;
}
h2 {font-family: Lucida Sans, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-size: x-large; color:#FAB037; font-style: bold;
}

body {
    font-size: 50%;
    box-sizing: border-box;
    padding-left: 400px;
    margin-top: 20px;
  
  }
  
  .calculator {
    background-color:lightgoldenrodyellow;
    border: 2px solid black;
    position: center;
    padding-left: 10px; padding-right: 10px;
    width: 400px;
  }
  
  
  .screen {
    width: 94%;height: 80px;
    color:black; font-size: 5rem;
    background-color:darkgray;
    
    text-align: right;
    padding-right: 10px;
    padding-left: 10px;
  }


  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
   }
  
  button {  
    font-family:Verdana;
    height: 50px;
    background-color:transparent gray; 
    border: 1px solid black;
  
    font-size: 2rem;
    color:navy;
    grid-column: span 1.5;
  
  }
  
  
  button:hover {
    background-color: lightgray;
  }
   
  .all-clear:hover, .equals:hover {
    background-color: turquoise;
  }

  .operator {
    color:darkblue;
    background-color: #FAB037;
  }
  
  
  .all-clear {
    background-color:orangered;
    border-color:darkred;
    color:floralwhite;
    grid-column: span 2; 
    /* clear button takes two spaces */
  
  }
  
 
  
  .equals {
    background-color:skyblue;
    border-color:royalblue;
    color: whitesmoke;
    height: 100%;
    grid-column: span 2;
  
  }
  
  